@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Orbitron:500,700|Share+Tech+Mono');

/* font-family: 'Share Tech Mono', monospace; */

* {
	position: relative;
}

body {	
	background: #948e99; /* fallback for old browsers */
	background: -webkit-linear-gradient(#948e99, #2e1437);
	background: -o-linear-gradient(#948e99, #2e1437);
	background: linear-gradient(#948e99, #2e1437); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}	

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Orbitron', sans-serif;
}

p,
a,
span {
	font-family: 'Nunito Sans', sans-serif;
}

.wrapper {
	padding: 3.625rem;
}

.title h1 {
	font-weight: 500;
	font-size: 3.625rem;
	text-align: center;
	line-height: 1;
	letter-spacing: 1;
}	

.title p {
	font-size: 2.125rem;
	text-align: center;
	line-height: 1;
	letter-spacing: 1;
	padding: 1.125rem;
}	

.rules p {
	font-size: 1.125rem;
	text-align: center;
	line-height: 1;
	letter-spacing: 1;
	padding: 1.125rem;
}

#game,
#scoreboard {
	background-color: #141414;
	border: 0.125rem solid #fff;
	width: 28.125rem;
	height: 37.5rem;
	display: inline-block;
	float: left;
	left: 130px;
	margin: 1.125rem;

}	

#scoreboard p {
	color: #fff;
	text-align: center;
	padding-top: 16px;
}

.footer {
	clear: both;
	margin: 0;
	background-color: #ccc;
	border-top: 0.125rem solid #141414;
	height: 2.8125rem;
	width: 100%;
}	

.footer span {
	color: #141414;
	font-size: 0.75rem;
	text-align: center;
}